<div class="container">
    <header>
        <div class="window-drag">
            <img src="assets/logo.png" alt="Atmosphir">
            <window-controls></window-controls>
        </div>
    </header>
    <main>
        <section class="news">
            <h2>What's New?</h2>
            <news></news>
        </section>
        <section class="featured">
            <h2>Featured Levels</h2>
        </section>
        <section class="sessions">
            <h2>Active Sessions</h2>
        </section>
    </main>
    <footer>
        <div class="progress-status">
            <div class="progress-info">
                <h4>{{process}}</h4>
                <span class="process-detail">{{status.current?.payload}}</span>
            </div>
            <progress-bar
                    [value]="status.currentStep"
                    [max]="status.stepCount"
                    [hidden]="status.stepCount == 0"
            ></progress-bar>
        </div>
        <button [disabled]="!isPlayable">{{isPlayable? "Play" : "Updating"}}</button>
    </footer>
</div>