<div class="container">
    <header>
        <img src="assets/logo.png" alt="Atmosphir">
        <window-controls></window-controls>
    </header>
    <main>
        <section class="news">
            <h2>What's New?</h2>
            <news></news>
        </section>
        <section class="featured">
            <h2>Featured Levels</h2>
        </section>
        <section class="sessions">
            <h2>Active Sessions</h2>
        </section>
    </main>
    <footer>
        <div class="progress-status">
            <progress-bar [value]="status == null? 1 : (status.currentStep /status.stepCount)"></progress-bar>
            <div class="progress-info">{{process}}{{status == null? "" : ":"}} {{status?.payload}}</div>
        </div>
        <button [disabled]="!isPlayable">Play</button>
    </footer>
</div>