<div class="container">
    <header>
        <img src="assets/logo.png" alt="Atmosphir">
        <window-controls></window-controls>
    </header>
    <main>
        <section class="news">
            <h2>What's New?</h2>
        </section>
        <section class="featured">
            <h2>Featured Levels</h2>
        </section>
        <section class="sessions">
            <h2>Active Sessions</h2>
        </section>
    </main>
    <footer>
        <div class="progress-status">
            <progress-bar [value]="0.5"></progress-bar>
            <div class="progress-info">Updating...</div>
        </div>
        <button disabled>Play</button>
    </footer>
</div>