.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background: url("assets/background.jpg") 50% 50%;
    background-size: cover;

    color: white;
}

header {
    background: rgba(0, 0, 0, 0.2);
    border-bottom: rgba(255, 255, 255, 0.05) solid 1px;
}

header .window-drag {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5px; /* put a border around the draggable area so user can resize */
    padding: 5px;
    height: 100%;

    -webkit-app-region: drag;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    height: 100px;
    background: rgba(0, 0, 0, 0.2);
    border-top: rgba(255, 255, 255, 0.05) solid 1px;
}

footer .progress-status {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.progress-status progress-bar {
    height: 20px;
    flex: 1;
}

.progress-info {
    margin-right: 10px;
    text-align: right;
    width: 250px;
}

.progress-info .process-detail {
    font-weight: 200;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.6);
}

footer button {
    width: 150px;
    height: 55px;
    margin-left: 10px;
    font-size: 1.5em;
    font-family: inherit;
    font-weight: 300;
    transition: all .1s ease-in-out;
}

section {
    display: flex;
    flex-direction: column;
}

section :last-child {
    flex: 1;
}

.news {
    flex: 2;
}

.featured, .sessions {
    flex: 1;
}

.news, .featured, .sessions {
    margin: 10px;
}